.authentication__header {
  color: var(--primary-color);
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.authentication {
  width: 90%;
  max-width: 30rem;
  margin: 8rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 2rem;
}